/* main-style */
html {
  box-sizing: border-box;
  scroll-behavior: smooth
}

*,
*::before,
*::after {
  box-sizing: inherit;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBMPlexSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBMPlexSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBMPlexSans-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBMPlexSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
	width: 100%;
  font-family: 'IBM Plex Sans', sans-serif;
}

:root {
  --gap: ;
  --dark-background: #3c3d42;
  --light-background: #e6e6e6;
  --time: .2s;
  --style: ease-in-out;
  --background-transition: background var(--time) var(--style);
  --color-transition: color var(--time) var(--style);
  --outline-transition: outline var(--time) var(--style);
  --opacity-transition: opacity var(--time) var(--style);
  --border-transition: border var(--time) var(--style);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
margin: 0 auto;
padding: 0 20px;
width: 100%;
max-width: 1390px;
}

.section-title {

}

.section-subtitle {

}

.section-descr {

}

/* header */
.header__top {
padding: 26px 0;
	background: var(--dark-background);
}

.header__top-container {
	align-items: center;
	justify-content: space-between;
}

